@import "tailwindcss";

@theme {
    --default-font-family: "Lato", sans-serif;
    
    --color-blue-dark: #2E3DA3;
    --color-blue-base: #5165E1;
    --color-blue-light: #8996eb;

    --color-gray-100: #151619;
    --color-gray-200: #1e2024;
    --color-gray-300: #535964;
    --color-gray-400: #858B99;
    --color-gray-500: #e3e5e8;
    --color-gray-600: #F9FAFA;

    --feedback-danger: #D03E3E;
    --feedback-open: #CC3D6A;
    --feedback-progress: #355ec5;
    --feedback-done: #508b26;

    --text-xxs: 0.625rem;

}